.wrap {
  padding: 40px;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  max-width: 100px;
  padding: 8px 16px;
  border: 1px solid #252525;
  border-radius: 15px;

  color: rgb(81, 81, 81);
  font-size: 18px;
  background-color: #f9f9f9;
  transition: border 250ms ease-in, background-color 250ms ease-in,
    color 250ms ease-in;
}

.image {
  width: 320px;
  padding: 8px;
  border: 1px solid #252525;
  border-radius: 15px;
}

.navpages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 30px;
}

.navLink {
  padding: 8px 16px;
  border: 1px solid #7e7e7e;
  border-radius: 15px;

  color: #2e2e2e;
  background-color: #f9f9f9;
  transition: border 250ms ease-in, background-color 250ms ease-in;
}

.isActive {
  background-color: #c7c7c7;
}

.navLink:hover,
.navLink:focus,
.link:hover,
.link:focus {
  color: #2e2e2e;
  border: 1px solid #2e2e2e;
}
